@use '../utils/utils.scss' as utils;

.cta {
  font-family: utils.$text;
  font-size: 1.2em;
  font-weight: 700;
  color: utils.$fourth_color;
  margin-top: 30px;
  padding: 10px 30px;
  border: 4px solid utils.$fourth_color;
  border-radius: 25px;

  &:hover {
    background-color: utils.$fourth_color;
    color: utils.$secondary_color;
  }
}
