/****Variables des typographie****/
$title: 'Daydream', 'cursive';
$menu: 'Sergio Trendy', 'sans-serif';
$text: 'Open Sans', 'serif';

/****Variables de couleurs****/
$primary_color: #000;
$secondary_color: #fff;
$third_color: #d9a7c4;
$fourth_color: #5b4f99;
$fifth_color: #ff00ff;
