@charset "UTF-8";
/**** Typographie ****/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/****Variables des typographie****/
/****Variables de couleurs****/
/****Ombres****/
/****Couleur de fond des overlays****/
@font-face {
  font-family: "Daydream";
  src: url("../fonts/daydream_free-webfont.woff2") format("woff2"), url("../fonts/daydream_free-webfont.woff") format("woff"), url("../fonts/daydream_free-webfont.ttf") format("truetype"), url("../fonts/daydream_free-webfont.eot") format("eot");
  font-display: swap;
}
/* Définir la police Sergio Trendy */
@font-face {
  font-family: "Sergio Trendy";
  src: url("../fonts/sergio_trendy-webfont.woff2") format("woff2"), url("../fonts/sergio_trendy-webfont.woff") format("woff"), url("../fonts/sergio_trendy-webfont.ttf") format("truetype"), url("../fonts/sergio_trendy-webfont.eot") format("eot");
  font-display: swap;
}
/* Importation des polices Google Fonts */
/**** Reset ****/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/**** Code de base ****/
body {
  width: 100%;
  background: url(../img/background.webp);
  background-size: cover;
  background-repeat: repeat;
}

/****Code des sections****/
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: "Daydream", "cursive";
  font-size: 3em;
  margin: 50px auto;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 15px;
}

p,
blockquote {
  width: 70%;
  font-family: "Open Sans", "serif";
  font-size: 1.2em;
  font-weight: 500;
  line-height: 40px;
  text-align: justify;
  padding-bottom: 30px;
}

.citation {
  font-weight: bold;
  text-align: justify;
}

header {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #logo {
  width: 370px;
  padding-right: 50px;
}
header .header__title {
  font-family: "Daydream", "cursive";
  font-size: 4em;
}

.footer {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
}
.footer .footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.footer .footer__socials .footer__link {
  font-family: "Open Sans", "serif";
  font-weight: 700;
  font-size: 1.1em;
  color: #000;
  padding-right: 30px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  transition: transform 0.4s;
}
.footer .footer__socials .footer__link:hover {
  transform: scale(1.2);
}
.footer .footer__socials .footer__link i {
  font-size: 2em;
  margin-right: 10px;
  color: #5b4f99;
}
.footer .footer__socials .footer__link ilast-child {
  padding-right: 0;
}
.footer .footer__copyright {
  font-family: "Open Sans", "serif";
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}

.nav {
  background-color: #d9a7c4;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}
.nav .nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav__link img {
  width: 65px;
  padding-right: 10px;
}
.nav .nav__link a {
  font-family: "Sergio Trendy", "sans-serif";
  font-size: 1.4em;
  color: #000;
}
.nav .nav__link--link_active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.cta {
  font-family: "Open Sans", "serif";
  font-size: 1.2em;
  font-weight: 700;
  color: #5b4f99;
  margin-top: 60px;
  padding: 10px 30px;
  border: 4px solid #5b4f99;
  border-radius: 25px;
}
.cta:hover {
  background-color: #5b4f99;
  color: #fff;
}

.welcome__posts {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.bio {
  display: flex;
  align-items: center;
}

.bio__rabbit {
  float: left;
  margin-right: 20px;
  width: 220px;
  height: auto;
  border-radius: 75%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.gallery {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery .gallery__items {
  width: calc(33.33% - 20px);
  cursor: pointer;
}
.gallery .gallery__items h3 {
  font-family: "Open Sans", "serif";
  font-size: 1.3em;
  text-align: center;
  color: #000;
  margin: 15px 0;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}
.gallery .gallery__items img {
  width: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.gallery .gallery__overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.gallery .gallery__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.gallery .gallery__modal .gallery__close {
  position: absolute;
  top: 35px;
  right: 35px;
  font-size: 1.8em;
  background-color: #ff00ff;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
.gallery .gallery__modal img {
  width: 100%;
}

.tarifsContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tarifsContent .tarifsContent__list {
  width: 70%;
  display: flex;
  align-items: center;
  font-family: "Open Sans", "serif";
  font-size: 1.2em;
  margin-bottom: 20px;
}
.tarifsContent .tarifsContent__list .tarifsContent--list-Title {
  display: flex;
  flex-direction: column;
  line-height: 28px;
  margin-right: 10px;
}
.tarifsContent .tarifsContent__list .tarifsContent--list-Title span {
  font-size: 1em;
  font-style: italic;
  margin: 0 0 20px 0;
}
.tarifsContent .tarifsContent__list .tarifsContent__list-line {
  flex-grow: 1;
  border-bottom: 2px dotted #000;
  margin: 0 10px;
  padding-top: 15px;
}
.tarifsContent .tarifsContent__list .tarifsContent__list-price {
  font-weight: bold;
  padding: 5px 0 0 5px;
}

.remark {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  padding-right: 15px;
}

/*# sourceMappingURL=style.css.map */
