@charset "UTF-8";
/**** Typographie ****/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/****Variables des typographie****/
/****Variables de couleurs****/
/****Ombres****/
@font-face {
  font-family: "Daydream";
  src: url("../fonts/daydream_free-webfont.woff2") format("woff2"), url("../fonts/daydream_free-webfont.woff") format("woff"), url("../fonts/daydream_free-webfont.ttf") format("truetype"), url("../fonts/daydream_free-webfont.eot") format("eot");
  font-display: swap;
}
/* Définir la police Sergio Trendy */
@font-face {
  font-family: "Sergio Trendy";
  src: url("../fonts/sergio_trendy-webfont.woff2") format("woff2"), url("../fonts/sergio_trendy-webfont.woff") format("woff"), url("../fonts/sergio_trendy-webfont.ttf") format("truetype"), url("../fonts/sergio_trendy-webfont.eot") format("eot");
  font-display: swap;
}
/* Importation des polices Google Fonts */
/**** Reset ****/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/**** Code de base ****/
body {
  width: 100%;
  background: url(../img/background.webp);
  background-size: cover;
  background-repeat: repeat;
}

/****Code des sections****/
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome__title {
  font-family: "Daydream", "cursive";
  font-size: 3em;
  margin: 50px auto;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 15px;
}

.welcome__text {
  width: 70%;
  font-family: "Open Sans", "serif";
  font-size: 1.2em;
  font-weight: 500;
  line-height: 40px;
  text-align: justify;
  padding-bottom: 30px;
}

.welcome__posts {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}

/****code de la page biographie****/
.welcome__place {
  display: flex;
  align-items: center;
}

.welcome__rabbit {
  float: left;
  margin-right: 20px;
  width: 220px;
  height: auto;
  border-radius: 75%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

header {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #logo {
  width: 370px;
  padding-right: 50px;
}
header .header__title {
  font-family: "Daydream", "cursive";
  font-size: 4em;
}

.footer {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
}
.footer .footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__socials .footer__link {
  font-family: "Open Sans", "serif";
  font-weight: 700;
  font-size: 1.1em;
  color: #000;
  padding-right: 30px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  transition: transform 0.4s;
}
.footer .footer__socials .footer__link:hover {
  transform: scale(1.2);
}
.footer .footer__socials .footer__link i {
  font-size: 2em;
  margin-right: 20px;
  color: #5b4f99;
}
.footer .footer__socials .footer__link ilast-child {
  padding-right: 0;
}
.footer .footer__copyright {
  font-family: "Open Sans", "serif";
  font-size: 1.1em;
  font-weight: 700;
  margin-top: 20px;
}

.nav {
  background-color: #d9a7c4;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}
.nav .nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav__link img {
  width: 65px;
  padding-right: 10px;
}
.nav .nav__link a {
  font-family: "Sergio Trendy", "sans-serif";
  font-size: 1.4em;
  color: #000;
}
.nav .nav__link--link_active {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.cta {
  font-family: "Open Sans", "serif";
  font-size: 1.2em;
  font-weight: 700;
  color: #5b4f99;
  margin-top: 60px;
  padding: 10px 30px;
  border: 4px solid #5b4f99;
  border-radius: 25px;
}
.cta:hover {
  background-color: #5b4f99;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
