@use '../utils/utils.scss' as utils;
@use '../utils/mixins.scss' as mixins;

.footer {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mixins.footer_shadow;

  .footer__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .footer__link {
      font-family: utils.$text;
      font-weight: 700;
      font-size: 1.1em;
      color: utils.$primary_color;
      padding-right: 30px;
      display: flex;
      align-items: center;
      margin-top: 20px;
      padding-left: 30px;
      transition: transform 0.4s;

      &:hover {
        transform: scale(1.2);
      }

      i {
        font-size: 2em;
        margin-right: 10px;
        color: utils.$fourth_color;

        &last-child {
          padding-right: 0;
        }
      }
    }
  }

  .footer__copyright {
    font-family: utils.$text;
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
  }
}
