@use '../utils/utils' as utils;
header {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;

  #logo {
    width: 370px;
    padding-right: 50px;
  }

  h1 {
    font-family: utils.$title;
    font-size: 4em;
  }
}
