@use '../utils/utils.scss' as utils;

.calendly {
  color: utils.$fourth_color;
  font-weight: bold;
}

.socials {
  display: flex;
  gap: 50px;

  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: 55px;
  }
}

.socials a {
  font-size: 2em;
  color: utils.$fourth_color;

  @media screen and (max-width: 768px) {
    font-size: 1.6em;
  }
}

.socials a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

form {
  width: 70%;
  padding: 20px;
  border: 3px dotted utils.$fourth_color;
  border-radius: 7px;
  position: relative;
  margin-top: 100px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  img {
    width: 200px;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: -141px;
    left: -121px;

    @media screen and (max-width: 768px) {
      width: 150px;
      top: -120px;
      left: -10px;
    }
  }

  fieldset {
    font-family: utils.$text;
    font-size: 1.3em;
    font-weight: 700;
    color: utils.$fourth_color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;
    padding: 0 0 15px 15px;
    border: 2px dotted utils.$fourth_color;

    @media screen and (max-width: 768px) {
      font-size: 1.1em;
    }

    legend {
      margin: 0 10px 15px 10px;
    }

    .form__group {
      width: 87%;
      display: flex;
      flex-direction: column;

      label {
        margin: 8px 0;
      }

      #request {
        width: 450px;
        height: 150px;
        font-family: utils.$text;
        font-size: 1em;
        padding: 10px;

        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      input,
      select {
        width: 300px;
        height: 30px;
        font-size: 1em;

        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      // Règle pour masquer le champ "fichier" et le champ checkbox par défaut.
      .custom-file-input {
        display: none;
      }

      // Création d'un champ "fichier" personnalisé

      .custom-file-label {
        width: 300px;
        display: block;
        padding: 10px 20px;
        background-color: utils.$fourth_color;
        color: utils.$secondary_color;
        font-size: 0.8em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-bottom: 10px;
      }

      /* Création d'une case à cocher personalisée */

      input[type='checkbox'] {
        appearance: none;
        width: 30px;
        height: 30px;
        background-color: white;
        border: 2px solid utils.$fourth_color;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        transition: background-color 0.3s ease, border-color 0.3s ease;
        margin-right: 10px;

        @media screen and (max-width: 1024px) {
          width: 30px;
        }
      }

      /* Lorsque la case est cochée */
      input[type='checkbox']:checked {
        background-color: utils.$fourth_color;
        border-color: utils.$fourth_color;
      }

      /* Ajouter la coche à l'intérieur de la case lorsqu'elle est cochée */
      input[type='checkbox']:checked::after {
        content: '✓';
        color: utils.$secondary_color;
        font-size: 1em;
        position: absolute;
        top: -3px;
        left: 5px;

        @media screen and (max-width: 768px) {
          font-size: 1.2em;
          left: 5px;
        }
      }
    }

    .form__checkbox {
      flex-direction: row-reverse;
      align-items: center;

      @media screen and (max-width: 1024px) {
        flex-direction: column;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
  }

  .form__submit {
    display: flex;
    justify-content: center;

    input[type='submit'] {
      width: 15%;
      padding: 10px;
      background-color: utils.$fourth_color;
      color: utils.$secondary_color;
      font-family: utils.$text;
      font-size: 1.1em;
      font-weight: bold;
      outline-color: utils.$fourth_color;
      border: none;
      border-radius: 5px;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    input[type='submit']:hover {
      background-color: utils.$secondary_color;
      color: utils.$fourth_color;
      border: 2px solid utils.$fourth_color;
    }
  }
}
